/* Navigation Bar */
.nav-bar {
    display: flex;
    justify-content: center; /* Centers the buttons horizontally */
    background-color: #333;
    padding: 10px;
}

.nav-button {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 16px;
    margin: 0 15px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-button:hover,
.nav-button.active {
    background-color: #555; /* Darker shade when active or hovered */
    border-radius: 5px;
}

/* Main content area for tabs */
.tab-content {
    margin-top: 20px;
    padding: 10px;
    color: white;
}

.ArtistsBoxContainer{
    margin-top: -775px; /* Adjust this value to control the upward movement */
    padding-bottom: 10px;
    overflow: hidden;
    left: 175px;
    position: relative;
}

.Genres-Container{
    margin-top: 15px; /* Adjust this value to control the upward movement */
    padding-bottom: 10px;
    overflow: hidden;
    left: 175px;
    position: relative;
}

.Albums-Container{
    margin-top: 15px; /* Adjust this value to control the upward movement */
    padding-bottom: 10px;
    overflow: hidden;
    left: 175px;
    position: relative;
}

.text-periwinkle-600 {
    color: #6a7fdb; /* Darker periwinkle for text */
}
.border-periwinkle-500 {
    border-color: #8a9ad6; /* Border periwinkle */
}
.border-periwinkle-300 {
    border-color: #a9b9e4; /* Lighter border for inputs */
}
.bg-royal-blue-500 {
    background-color: #4169e1; /* Royal blue */
}
.bg-royal-blue-600 {
    background-color: #3153b7; /* Darker royal blue for hover */
}
.focus\:border-royal-blue-500:focus {
    border-color: #4169e1; /* Royal blue focus border */
}
.focus\:ring-royal-blue-200:focus {
    box-shadow: 0 0 0 2px rgba(65, 105, 225, 0.5); /* Light royal blue focus ring */
}
