.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: blanchedalmond;
  min-height: 10vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: rgb(175, 144, 104);
}

.App-footer {
  background-color: blanchedalmond;
  min-height: 5vh; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  color: rgb(175, 144, 104);
}

.footer-item {
  flex-grow: 1;
  text-align: center;
}

.App-body-container {
  display: flex;
  flex: 1; /* Take up the remaining height below the header */
}

.App-body {
  background-color: rgb(175, 144, 104);
  min-height: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: hsl(0, 0%, 100%);
}

.App-side {
  background-color: #83725d;
  font-size: calc(6px + 2vmin);
  color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-button {
  background-color: #9b7156;
  font-size: calc(4px + 2vmin);
  border-radius: 20px;
  width: 8em;
  height: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: white;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s, color 0.2s, transform 0.2s;
}

.App-button:hover {
  background-color: hsl(23, 27%, 42%);
  color: lightgray;
}

.App-button:active {
  background-color: rgb(115, 87, 69);
  color: gray;
  transform: scale(0.90);
}

.App-button:disabled {
  background-color: hsl(23, 16%, 28%);
  color: gray;
  pointer-events: none;
}